<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>users</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>email</th>
            </tr>
        </thead>

       <tbody>
            <%for(let user of users){ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>
                        <form method="get" action="/users/<%=user.id%>/edit">
                            <button>Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="/users/<%=user.id%>/delete">
                            <button>Delete user</button>
                        </form>
                    </td>
                </tr>
            <%}%>
       </tbody>
    </table>
</body>
</html>